% rebase('base.html')

<br><br>
<h3>Nov dogodek/opravilo/načrt</h3><br>
<form method="POST">
    <div>
        <label class="label">Ime:</label><br>
        <input class="input" type="text" name="ime" placeholder="Ime dogodka/opravila/načrta"><br><br>
    </div>
    <div>
        <label class="label">Opis:</label><br>
        <textarea type="text" class="input" rows="4" cols="70" name="opis" form="usrform" placeholder="Opis dogodka/opravila/načrta"></textarea><br>
    </div>
    <div>
        <button class="btn btn-outline-dark" style="background-color: #EADDCA;">Dodaj</button>
        <a style="color: black; font-size: large;" href='/'>Prekliči</a>
    </div>
</form>