% rebase('base.html')

<!-- NASLOVI: -->
<br><br>
<h1 style="text-align: center; font-size: 60px; margin: 0ex; padding: 0ex;"><b>KOLEDAR</b></h1>
<p style="text-align: center; margin: 0ex; padding: 0ex; color: #D2B48C; font-size: 35px; font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;"
    >koledar obveznosti & dnevnik</p><br><br>

<!-- DATEPICKER: -->
<form action="/izberi-datum/">
    <label for="datum">Datum:</label>
    <input type="date" class="form-control col-xs-4" id="datum" name="datum">
    <input type="submit" class="btn btn-outline-dark" style="background-color: #EADDCA;" value="Izberi">
</form><br><br>

<!-- IZBIRA MED OBVAZNOSTMI IN DNEVNIKOM: -->
<table>
    <tr>
        <td>
            <form>
                <button class="btn btn-outline-dark" style="background-color: #EADDCA;">Obveznosti dneva</button>
            </form>
        </td>
        <td>
            <form>
                <button class="btn btn-outline-dark" style="background-color: #EADDCA;">Dnevnik</button>
            </form>
        </td>
    </tr>
</table><br>

<!-- VRSTICA S SPISKI: -->
<nav class="navbar navbar-lg" style="background-color: #EADDCA;">
    <form method="POST" action="/zamenjaj-aktualni-spisek/">
        <div class="btn-group btn-group-toggle" data-toggle="buttons">
            % for indeks, spisek in enumerate(spiski):
            % if spisek == aktualni_spisek:
            <button class="btn btn-secondary active" name="indeks" value="{{indeks}}">{{spisek.ime}}</button>
            % else:
            <button class="btn btn-secondary" name="indeks" value="{{indeks}}">{{spisek.ime}}</button>
            % end
            % end
        </div>
    </form>

    <form method="POST" action="/dodaj-spisek/" class="form-inline my-2 my-lg-0" >
        <input class="form-control mr-sm-2" type="text" name="ime" placeholder="Ime novega spiska">
        <button class="btn btn-outline-dark" required="required" pattern="[A-Za-z0-9]{1,20}">Dodaj spisek</button>
    </form>
</nav><br><br>

% if aktualni_spisek:

<!-- OPRAVILA: -->
<form method="POST" action="/dodaj-opravilo/">
    <button class="btn btn-outline-dark" style="background-color: #EADDCA;">Dodaj opravilo</button>
</form>

% else:

<p>Nimate še nobenega spiska. Dodajte ga.</p>

% end