% rebase('base.html')

<!-- NASLOVI: -->
<br><br>
<div class="p-3 mb-2 bg-light text-dark">
    <h1 style="text-align: center; font-size: 60px; margin: 0ex; padding: 0ex;">
        <b>KOLEDAR</b></h1>
    <p style="text-align: center; margin: 0ex; padding: 0ex; font-size: 35px; font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;"
        >koledar obveznosti & dnevnik</p>
</div><br><br>

<!-- DATEPICKER: -->
<div class="p-3 mb-2 bg-light text-dark">
Datum:
    <form action="/izberi-datum/"> 
        <table>
            <tr>
                <td>
                    <form>
                        <input type="date" class="form-control col-xs-4" name="datum" style="width: 30ex;">
                    </form>
                </td>
                <td>
                    <form>
                        <button class="btn btn-outline-dark">Izberi</button>
                    </form>
                </td>
            </tr>
        </table>
    </form>
</div><br><br>

<!-- IZBIRA MED OBVAZNOSTMI IN DNEVNIKOM: -->
<table>
    <tr>
        <td>
            <form>
                <button class="btn btn-outline-dark">Obveznosti dneva</button>
            </form>
        </td>
        <td>
            <form>
                <button class="btn btn-outline-dark">Dnevnik</button>
            </form>
        </td>
    </tr>
</table><br>

<!-- VRSTICA S SPISKI: -->
<div class="p-3 mb-2 bg-light text-dark">
    <nav class="navbar" style="height: 7ex;">
        <div>
            <form method="POST" action="/zamenjaj-aktualni-spisek/">
                <div class="btn-group-toggle" data-toggle="buttons">
                    % for indeks, spisek in enumerate(spiski):
                    % if spisek == aktualni_spisek:
                    <button class="btn btn-outline-dark active" name="indeks" value="{{indeks}}">{{spisek.ime}}</button>
                    % else:
                    <button class="btn btn-outline-dark" name="indeks" value="{{indeks}}">{{spisek.ime}}</button>
                    % end
                    % end
                </div>
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <form method="POST" action="/dodaj-spisek/" class="d-flex">
                        <td>
                            <input type="text" class="form-control" name="ime" placeholder="Ime novega spiska">
                        </td>
                        <td>
                            <button class="btn btn-outline-dark">Dodaj</button>
                        </td>
                    </form>
                </tr>   
            </table>
        </div>
    </nav>
</div><br><br>

% if aktualni_spisek:

<!-- Modal za opravila: -->
<div class="container mt-5">
    <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">Dodaj dogodek/opravilo/načrt</button>
    <div class="modal" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title">Nov dogodek/opravilo/načrt</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/dodaj-opravilo/">
                        <div>
                            <label class="label">Ime:</label><br>
                            <input class="form-control" id="exampleFormControlInput1" type="text" name="ime" placeholder="Ime dogodka/opravila/načrta">
                            <small id="emailHelp" class="form-text text-muted">Ime je obvezno.</small><br><br>
                        </div>
                        <div>
                            <label class="label">Opis:</label><br>
                            <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="7" name="opis" placeholder="Opis dogodka/opravila/načrta"></textarea>
                            <small id="emailHelp" class="form-text text-muted">Opis ni obvezen.</small>
                        </div>
                </div>
                <div class="modal-footer">
                        <button type="submit" class="btn btn-outline-dark">Dodaj</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>


% else:

<p>Nimate še nobenega spiska. Dodajte ga.</p>

% end