% rebase('base.html')

<!-- NASLOVI: -->
<br><br>
<div class="p-3 mb-2 bg-light text-dark">
    <h1 style="text-align: center; font-size: 60px; margin: 0ex; padding: 0ex;">
        <b>KOLEDAR</b>
    </h1>
    <p
        style="text-align: center; margin: 0ex; padding: 0ex; font-size: 35px; font-family:'Monotype Corsiva','Apple Chancery','ITC Zapf Chancery','URW Chancery L',cursive;">
        koledar obveznosti & dnevnik</p>
</div><br><br>

<!-- Zapis datuma: -->
% slovar_datumi = {'01': 'januar', '02': 'februar', '03': 'marec', '04': 'april', '05': 'maj', '06': 'junij', '07': 'julij', '08': 'avgust', '09': 'september', '10': 'oktober', '11': 'november', '12': 'december'}
% seznam = aktualni_datum.split('-')
% leto = seznam[0]
% mesec = slovar_datumi[seznam[1]]
% dan = seznam[2]
% izpisi_datum = dan + '.' + ' ' + mesec + ' ' + leto

<!-- DATEPICKER: -->
Datum:
<form method="POST" action="/zamenjaj-datum/">
    <table>
        <tr>
            <td>
                <input type="date" class="form-control col-xs-4" name="datum" style="width: 30ex;">
            </td>
            <td>
                <button class="btn btn-outline-dark">Izberi</button>
            </td>
        </tr>
    </table>
</form>
<br>

<!-- KATERI DAN JE: -->
<p style="font-size: 25px; margin: 0ex; padding: 0ex;">
    Datum: <b>{{izpisi_datum}}</b>
<p>


<!-- IZBIRA MED OBVEZNOSTMI IN DNEVNIKOM: -->
<table>
    <tr>
        <td>
            <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#obveznosti-dneva">Obveznosti dneva</button>
        </td>
        <td>
            <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#dnevnik">Dnevnik</button>
        </td>
    </tr>
</table><br>

<div class="collapse" id="obveznosti-dneva">
    <!-- VRSTICA S SPISKI: -->
    <nav class="navbar navbar-light bg-light" style="height: 9ex;">
        <div>
            <form method="POST" action="/zamenjaj-aktualni-spisek/">
                <div class="btn-group-toggle" data-toggle="buttons">
                    % for indeks, spisek in enumerate(spiski):
                    % if spisek == aktualni_spisek:
                    <button class="btn btn-outline-dark active" name="indeks" value="{{indeks}}">{{spisek.ime}}</button>
                    % else:
                    <button class="btn btn-outline-dark" name="indeks" value="{{indeks}}">{{spisek.ime}}</button>
                    % end
                    % end
                </div>
            </form>
        </div>
        <div>
            <table>
                <tr>
                    <form method="POST" action="/dodaj-spisek/" class="d-flex">
                        <td>
                            <input type="text" class="form-control" name="ime" placeholder="Ime novega spiska">
                        </td>
                        <td>
                            <button class="btn btn-outline-dark">Dodaj</button>
                        </td>
                    </form>
                    <td>
                        <!-- izbris spiska: -->
                        % if aktualni_spisek:
                        <form method="POST" action="/izbrisi-spisek/">
                            <button class="btn btn-outline-dark">Izbriši aktualni spisek <b>{{aktualni_spisek.ime}}</b></button>
                        </form>
                        % end
                    </td>
                </tr>
            </table>
        </div>
    </nav>

    % if aktualni_spisek:

    <!-- Modal za opravila: -->
    <div class="container mt-5">
        <button type="button" class="btn btn-outline-dark" data-bs-toggle="modal" data-bs-target="#myModal">Dodaj
            dogodek/opravilo/načrt</button>
        <div class="modal" id="myModal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h3 class="modal-title">Nov dogodek/opravilo/načrt</h3>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/dodaj-opravilo/">
                            <div>
                                <label class="label">Ime:</label><br>
                                <input class="form-control" id="exampleFormControlInput1" type="text" name="ime"
                                    placeholder="Ime dogodka/opravila/načrta">
                                <small id="emailHelp" class="form-text text-muted">Ime je obvezno.</small><br><br>
                            </div>
                            <div>
                                <label class="label">Opis:</label><br>
                                <textarea type="text" class="form-control" id="exampleFormControlTextarea1" rows="7"
                                    name="opis" placeholder="Opis dogodka/opravila/načrta"></textarea>
                                <small id="emailHelp" class="form-text text-muted">Opis ni obvezen.</small>
                            </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-outline-dark">Dodaj</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
    <br>

    % for indeks, opravilo in enumerate(opravila):

    <div class="card">
        <div class="card-header">
            <table style="width: 100%;">
                <tr>
                    <td style="width: 50%;">
                        <p class="mb-0" style="font-weight: bold; text-transform: uppercase;">
                            {{ opravilo.ime }}
                        </p>
                    </td>
                    <td style="text-align: right;">
                        <!-- izbris opravila: -->
                        <form method="POST" action="/izbrisi-opravilo/">
                            <button class="btn" name="indeks" value="{{indeks}}">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash" viewBox="0 0 16 16">
                                    <path
                                        d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                    <path fill-rule="evenodd"
                                        d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                </svg>
                            </button>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <div class="card-body">
            {{ opravilo.opis }}
        </div>
    </div>
    <br><br>

    % end

    % else:
    <br>
    <b><p style="color: red; font-size: 20px; text-align: right;">Nimate še nobenega spiska. Dodajte ga!</p></b>

    % end
</div>
<div class="collapse" id="dnevnik">
    <div class="form-outline">
        <textarea class="form-control" id="textAreaExample" rows="4" placeholder="Dnevniški zapis {{izpisi_datum}}"></textarea>
      </div>
</div>
