% rebase('base.html')

<div class="p-3 mb-2 bg-light text-dark rounded" style="height: 9ex;">
    <p style="font-size: 25px; margin: 0ex; padding: 0ex;">Prijava:</p><br>
</div>
<br>

<form method="POST" action="/prijava/">
    <table>
        <tr>
            <div class="form-group row" style="margin-left: 1%;">
                <label class="col-sm-2 col-form-label">Uporabniško ime</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" placeholder="Uporabniško ime" name="uporabnisko_ime">
                </div>
            </div><br>
        </tr>
        <tr>
            <div class="form-group row" style="margin-left: 1%;">
                <label class="col-sm-2 col-form-label">Geslo</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" placeholder="Geslo" name="geslo">
                </div>
            </div><br>
        </tr>
        <tr>
            <button class="btn btn-outline-dark active" style="width: 10%; float: right;">Prijavi se</button>
        </tr>
    </table>
</form>