% rebase{'base.html'}
<p style="font-size: 25px; margin: 0ex; padding: 0ex;">Prijava:</p>

<form method="POST">
    <div class="col-md-4 mb-3">
        <label for="validationDefaultUsername">Uporabniško ime</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
            </div>
            <input name="uporabnisko_ime" type="text" class="form-control" id="validationDefaultUsername"
                placeholder="Uporabniško ime" aria-describedby="inputGroupPrepend2" required>
            <button class="btn btn-primary">Prijavi se</button>
        </div>
    </div>
    </div>
</form>