% rebase('base.html')
<p>
    Za uporabo programa se je potrebno registrati.
</p>
<p style="font-size: 25px; margin: 0ex; padding: 0ex;">Registracija:</p>

<form method="POST">
    <div class="col-md-4 mb-3">
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend2">@</span>
            </div>
            <input name="uporabnisko_ime" class="form-control"
            style="box-shadow: none; outline: none; border: 1px solid #ccc"
            type="text" 
                placeholder="Uporabniško ime" aria-describedby="inputGroupPrepend2" required>
            <button class="btn btn-outline-dark active">Registriraj se</button>
        </div>
    </div>
    </div>
</form>